DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database_name>"

#aws
ACCESS_KEY=
SECRET_KEY=
REGION=us-

#akun instagram
USERNAME_IG=
PASSWORD_IG=

# rabbitmq config
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest