# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
.eggs/
wheelhouse/
pip-wheel-metadata/

# VS Code settings
.vscode/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env

# Flask specific
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pytest
.cache
*.cover
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.test

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm specific
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# FastAPI specific
*.db
